$fa-font-path: '../../../../../assets/fonts/font-awesome/fonts';
@import '../../../../../assets/fonts/font-awesome/scss/font-awesome';

@import '../../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../../node_modules/bootstrap/scss/mixins';

.btn-card {
  padding: 0px;
  color: $navbar-light-color;

  &:after {
    display: none;
  }

  &:hover, &:active {
    text-decoration: none;
    color: $navbar-light-hover-color;
  }
}