<div *ngIf="!loading" class="card">
    <div class="card-header">
        <ul *ngIf="!hideTabs" class="nav nav-tabs card-header-tabs float-xs-left">
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="rootRoute">Pacient</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="[rootRoute, 'progress-notes']">Dekurz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="[rootRoute, 'teeth-status-reports']">Zubní kříž</a>
            </li>
        </ul>

        <div *ngIf="!hideTabs" class="dropdown pull-right">
            <button class="btn btn-link btn-card dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item">Smazat</a>
            </div>
        </div>
    </div>
    <div class="card-block">
        <ng-content></ng-content>
    </div>
</div>

<div *ngIf="loading" class="mx-auto">
    <div class="col-xs" style="text-align: center">
        <i class="fa fa-circle-o-notch fa-spin fa-5x"></i>
    </div>
</div>