$fa-font-path: '../../../../assets/fonts/font-awesome/fonts';
@import '../../../../assets/fonts/font-awesome/scss/font-awesome';

@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

.img-text-placeholder {
  width: 200px;
  height: auto;
  display: inline-block;
  text-align: center;
  background: #f5f5f5;
  color: #d7d7d7;
  font-size: 6vw;
  padding: 7px;
}
.btn-card {
  padding: 0px;
  color: $navbar-light-color;

  &:after {
    display: none;
  }

  &:hover, &:active {
    text-decoration: none;
    color: $navbar-light-hover-color;
  }
}