<ng-container *ngFor="let event of events">
    <small class="text-muted">Dnes v {{event.start|date:'HH:mm'}}</small>
    <div class="card">
        <div class="card-header">
            <strong><a [routerLink]="['/patients', event.patient.id]">{{event.patient.firstname}} {{event.patient.lastname}}</a></strong>

            <div class="dropdown pull-right">
                <button class="btn btn-link btn-card dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" [routerLink]="['/patients', event.patient.id]">Upravit</a>
                </div>
            </div>
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-3">
                    <a [routerLink]="['/patients', event.patient.id]">
                        <img *ngIf="event.patient.photo" src="{{event.patient.photo}}" alt="Fotografie" style="max-width:200px" class="figure-img img-fluid rounded">
                        <span *ngIf="!event.patient.photo" class="img-thumbnail img-text-placeholder">{{event.patient.firstname.charAt(0)}}{{event.patient.lastname.charAt(0)}}</span></a>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th width="30%" scope="row">Datum narození</th>
                                <td>{{event.patient.birthdate}}</td>
                            </tr>
                            <tr>
                                <th width="30%" scope="row">Rodné číslo</th>
                                <td>{{event.patient.rc}}</td>
                            </tr>
                            <tr>
                                <th width="30%" scope="row">Ulice</th>
                                <td>{{event.patient.street}}</td>
                            </tr>
                            <tr>
                                <th width="30%" scope="row">Město</th>
                                <td>{{event.patient.city}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<div *ngIf="!events.length && !loading" class="card card-no-border card-no-background  text-xs-center">
    <div class="card-block">
        <i class="fa fa-bell-slash" style="font-size: 8vw; margin: 20px;" aria-hidden="true"></i>
        <p class="card-text">Na dnešní den nemáte naplánovány žádné návšťevi pacientů.</p>
        <a [routerLink]="['/calendar']" class="btn btn-primary">Zobrazit kalendář</a>
    </div>
</div>

<div *ngIf="loading" class="mx-auto">
    <div class="col-xs" style="text-align: center">
        <i class="fa fa-circle-o-notch fa-spin fa-5x"></i>
    </div>
</div>