@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

.sperator-right {
  border-right: 2px solid $gray-light;
}
.tooth {
  padding: 10px;
}
.tooth.selected {
  background-color: $brand-primary;
}
.tooth:hover, .tooth:focus {
  background-color: $brand-primary;
}
.tooth:hover img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}