<da-card [loading]="loading" [rootRoute]="rootRoute">
    <div class="container">
        <div class="row">
            <div class="col-xs">
                <form name="form-progress-note" novalidate>
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <select class="form-control required" name="progressNote" id="progressNote" [(ngModel)]="progressNote">
                                <option *ngFor="let progressNote of progressNotes" [ngValue]="progressNote">{{progressNote.created}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="overflow: auto">
            <div class="col-xs">
                <table>
                    <tr>
                        <td>
                            <div class="tooth" tabindex="1" [ngClass]="{ 'selected': isToothSelected(1)}" (click)="onClickTooth(1)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-a.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="2" [ngClass]="{ 'selected': isToothSelected(2)}" (click)="onClickTooth(2)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-a.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="3" [ngClass]="{ 'selected': isToothSelected(3)}" (click)="onClickTooth(3)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-a.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="4" [ngClass]="{ 'selected': isToothSelected(4)}" (click)="onClickTooth(4)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-b.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="5" [ngClass]="{ 'selected': isToothSelected(5)}" (click)="onClickTooth(5)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-c.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="6" [ngClass]="{ 'selected': isToothSelected(6)}" (click)="onClickTooth(6)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-d.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="7" [ngClass]="{ 'selected': isToothSelected(7)}" (click)="onClickTooth(7)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-d.png">
                            </div>
                        </td>
                        <td class="sperator-right">
                            <div class="tooth" tabindex="8" [ngClass]="{ 'selected': isToothSelected(8)}" (click)="onClickTooth(8)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-d.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="9" [ngClass]="{ 'selected': isToothSelected(9)}" (click)="onClickTooth(9)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-d.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="10" [ngClass]="{ 'selected': isToothSelected(10)}" (click)="onClickTooth(10)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-d.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="11" [ngClass]="{ 'selected': isToothSelected(11)}" (click)="onClickTooth(11)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-d.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="12" [ngClass]="{ 'selected': isToothSelected(12)}" (click)="onClickTooth(12)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-c.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="13" [ngClass]="{ 'selected': isToothSelected(13)}" (click)="onClickTooth(13)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-b.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="14" [ngClass]="{ 'selected': isToothSelected(14)}" (click)="onClickTooth(14)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-a.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="15" [ngClass]="{ 'selected': isToothSelected(15)}" (click)="onClickTooth(15)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-a.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="16" [ngClass]="{ 'selected': isToothSelected(16)}" (click)="onClickTooth(16)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-a.png">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-xs-center">8</td>
                        <td class="text-xs-center">7</td>
                        <td class="text-xs-center">6</td>
                        <td class="text-xs-center">5</td>
                        <td class="text-xs-center">4</td>
                        <td class="text-xs-center">3</td>
                        <td class="text-xs-center">2</td>
                        <td class="text-xs-center sperator-right">1</td>
                        <td class="text-xs-center">1</td>
                        <td class="text-xs-center">2</td>
                        <td class="text-xs-center">3</td>
                        <td class="text-xs-center">4</td>
                        <td class="text-xs-center">5</td>
                        <td class="text-xs-center">6</td>
                        <td class="text-xs-center">7</td>
                        <td class="text-xs-center">8</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="tooth" tabindex="17" [ngClass]="{ 'selected': isToothSelected(17)}" (click)="onClickTooth(17)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-e.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="18" [ngClass]="{ 'selected': isToothSelected(18)}" (click)="onClickTooth(18)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-e.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="19" [ngClass]="{ 'selected': isToothSelected(19)}" (click)="onClickTooth(19)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-e.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="20" [ngClass]="{ 'selected': isToothSelected(20)}" (click)="onClickTooth(20)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-f.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="21" [ngClass]="{ 'selected': isToothSelected(21)}" (click)="onClickTooth(21)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-f.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="22" [ngClass]="{ 'selected': isToothSelected(22)}" (click)="onClickTooth(22)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-g.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="23" [ngClass]="{ 'selected': isToothSelected(23)}" (click)="onClickTooth(23)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-g.png">
                            </div>
                        </td>
                        <td class="sperator-right">
                            <div class="tooth" tabindex="24" [ngClass]="{ 'selected': isToothSelected(24)}" (click)="onClickTooth(24)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-g.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="25" [ngClass]="{ 'selected': isToothSelected(25)}" (click)="onClickTooth(25)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-g.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="26" [ngClass]="{ 'selected': isToothSelected(26)}" (click)="onClickTooth(26)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-g.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="27" [ngClass]="{ 'selected': isToothSelected(27)}" (click)="onClickTooth(27)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-g.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="28" [ngClass]="{ 'selected': isToothSelected(28)}" (click)="onClickTooth(28)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-f.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="29" [ngClass]="{ 'selected': isToothSelected(29)}" (click)="onClickTooth(29)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-f.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="30" [ngClass]="{ 'selected': isToothSelected(30)}" (click)="onClickTooth(30)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-e.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="31" [ngClass]="{ 'selected': isToothSelected(31)}" (click)="onClickTooth(31)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-e.png">
                            </div>
                        </td>
                        <td>
                            <div class="tooth" tabindex="32" [ngClass]="{ 'selected': isToothSelected(32)}" (click)="onClickTooth(32)">
                                <img style="height: 80px" class="mx-auto" src="/assets/img/teeth-diagram-e.png">
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-xs">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-xs">
                <form class="form-inline" (ngSubmit)="f.form.valid && onSave()" #f="ngForm" novalidate>
                    <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !toothCondition.valid }">
                        <label for="toothCondition">Stav zubu</label>
                        <select class="form-control" name="toothCondition" id="toothCondition" [(ngModel)]="selectedToothStatusReport.toothCondition" #toothCondition="ngModel" required>
                            <option *ngFor="let toothCondition of toothConditions" [ngValue]="toothCondition" >{{toothCondition.name}}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" [ngClass]="{ 'disabled': !progressNote }">Uložit</button>
                </form>
            </div>
        </div>
    </div>
</da-card>