<da-card [loading]="loading" [rootRoute]="rootRoute">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md text-xs-left">

                <div *ngFor="let progressNote of progressNotes" class="row">
                    <div class="col-md-12">
                        <p><strong>{{progressNote.created}}</strong> <small>admin</small> <i class="fa fa-lock text-primary" aria-hidden="true"></i></p>
                        <hr>
                    </div>
                    <div class="col-md-12 small-text">
                        <p style="white-space: pre-line">{{progressNote.text}}</p>
                    </div>
                    <div class="col-md-12 small-text">
                        <p><span class="text-muted">Výkony:</span>
                            <span *ngFor="let diagnosisPerformance of progressNote.diagnosisPerformances; let isLast=last" class="text-primary" data-toggle="tooltip" data-placement="top" title="{{diagnosisPerformance.performance.name}}">
                                {{diagnosisPerformance.performance.code}}{{isLast ? '' : ', '}}</span></p>
                    </div>
                    <div class="col-md-12 small-text">
                        <p><span class="text-muted">Produkty:</span>
                            <span *ngFor="let diagnosisProduct of progressNote.diagnosisProducts; let isLast=last" class="text-primary" data-toggle="tooltip" data-placement="top" title="{{diagnosisProduct.product.name}}">
                                {{diagnosisProduct.product.code}}{{isLast ? '' : ', '}}</span></p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 text-xs-center">



                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createNewProgressNoteModal">
                    Nový záznam
                </button>

                <div class="modal fade" id="createNewProgressNoteModal" #createNewProgressNoteModal tabindex="-1" role="dialog" aria-labelledby="createNewProgressNoteModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <form name="form-progress-note" (ngSubmit)="f.form.valid && onSave()" #f="ngForm" novalidate>
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="createNewProgressNoteModalLabel">Nový záznam</h4>
                                </div>
                                <div class="modal-body">

                                    <form name="progress-note" (ngSubmit)="fpn.form.valid && onSave()" #fpn="ngForm" novalidate>
                                        <div class="row">

                                            <div [ngClass]="{ 'has-danger': fpn.submitted && !text.valid }" class="form-group col-md-12 text-xs-left">
                                                <div class="d-flex flex-column">
                                                    <textarea class="form-control" name="text" id="text" rows="6" [ngClass]="{ 'form-control-danger': fpn.submitted && !text.valid }" [(ngModel)]="progressNote.text" #text="ngModel" required></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </form>

                                    <form name="progress-note-perforrmance" (ngSubmit)="fperf.form.valid && onSavePerformance()" #fperf="ngForm" novalidate>
                                        <div class="row">

                                            <div class="form-group col-md-3 text-xs-left" [ngClass]="{ 'has-danger': fperf.submitted && !perfDiagnosis.valid }">
                                                <div class="d-flex flex-column">
                                                    <label for="perf-diagnosis" class="col-form-label">Diagnoza</label>
                                                    <select
                                                            class="form-control"
                                                            name="perf-diagnosis"
                                                            id="perf-diagnosis"
                                                            [ngClass]="{ 'form-control-danger': fperf.submitted && !perfDiagnosis.valid }"
                                                            [(ngModel)]="diagnosisPerformance.diagnosis"
                                                            #perfDiagnosis="ngModel"
                                                            required>
                                                        <option *ngFor="let diagnosis of diagnoses" [ngValue]="diagnosis" >{{diagnosis.name}}</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="form-group col-md-3 text-xs-left" [ngClass]="{ 'has-danger': fperf.submitted && !perfPerformance.valid }">
                                                <div class="d-flex flex-column">
                                                    <label for="perf-performance" class="col-form-label">Výkon</label>
                                                    <select
                                                            class="form-control"
                                                            name="perf-performance"
                                                            id="perf-performance"
                                                            [ngClass]="{ 'form-control-danger': fperf.submitted && !perfPerformance.valid }"
                                                            [(ngModel)]="diagnosisPerformance.performance"
                                                            #perfPerformance="ngModel"
                                                            required>
                                                        <option *ngFor="let performance of performances" [ngValue]="performance" >{{performance.code}} - {{performance.name}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-2 text-xs-left" [ngClass]="{ 'has-danger': fperf.submitted && !perfLocation.valid }">
                                                <div class="d-flex flex-column">
                                                    <label for="perf-location" class="col-form-label">Pozice</label>
                                                    <input
                                                            type="text"
                                                            class="form-control"
                                                            name="perf-location"
                                                            id="perf-location"
                                                            [ngClass]="{ 'form-control-danger': fperf.submitted && !perfLocation.valid }"
                                                            [(ngModel)]="diagnosisPerformance.location"
                                                            #perfLocation="ngModel">
                                                </div>
                                            </div>

                                            <div class="form-group col-md-2 text-xs-left" [ngClass]="{ 'has-danger': fperf.submitted && !perfAmount.valid }">
                                                <div class="d-flex flex-column">
                                                    <label for="perf-amount" class="col-form-label">Počet</label>
                                                    <input
                                                            type="number"
                                                            class="form-control"
                                                            name="perf-amount"
                                                            id="perf-amount"
                                                            [ngClass]="{ 'form-control-danger': fperf.submitted && !perfAmount.valid }"
                                                            [(ngModel)]="diagnosisPerformance.amount"
                                                            #perfAmount="ngModel">
                                                </div>
                                            </div>

                                            <div class="col-md-2 text-xs-left">
                                                <div class="d-flex flex-column">
                                                    <button type="submit" [ngClass]="{ 'disabled': !fperf.form.valid }" class="btn btn-primary" style="margin-top:40px">Přidat</button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>

                                    <div class="row">
                                        <div class="col-md-12 small-text">
                                            <p class="text-xs-left">
                                                <span class="text-muted">Výkony:</span>
                                                <span *ngFor="let diagnosisPerformance of progressNote.diagnosisPerformances; let isLast=last" class="text-primary">
                                                        {{diagnosisPerformance.performance.code}}{{isLast ? '' : ', '}}</span>
                                            </p>
                                        </div>
                                    </div>

                                    <form name="progress-note-product" (ngSubmit)="fprod.form.valid && onSaveProduct()" #fprod="ngForm" novalidate>
                                        <div class="row">

                                            <div class="form-group col-md-3 text-xs-left" [ngClass]="{ 'has-danger': fprod.submitted && !prodDiagnosis.valid }">
                                                <div class="d-flex flex-column">
                                                    <label for="prod-diagnosis" class="col-form-label">Diagnoza</label>
                                                    <select
                                                            class="form-control"
                                                            name="prod-diagnosis"
                                                            id="prod-diagnosis"
                                                            [ngClass]="{ 'form-control-danger': fprod.submitted && !prodDiagnosis.valid }"
                                                            [(ngModel)]="diagnosisProduct.diagnosis"
                                                            #prodDiagnosis="ngModel"
                                                            required>
                                                        <option *ngFor="let diagnosis of diagnoses" [ngValue]="diagnosis" >{{diagnosis.name}}</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="form-group col-md-3 text-xs-left" [ngClass]="{ 'has-danger': fprod.submitted && !prodProduct.valid }">
                                                <div class="d-flex flex-column">
                                                    <label for="prod-product" class="col-form-label">Produkt</label>
                                                    <select
                                                            class="form-control"
                                                            name="prod-product"
                                                            id="prod-product"
                                                            [ngClass]="{ 'form-control-danger': fprod.submitted && !prodProduct.valid }"
                                                            [(ngModel)]="diagnosisProduct.product"
                                                            #prodProduct="ngModel"
                                                            required>
                                                        <option *ngFor="let product of products" [ngValue]="product" >{{product.code}} - {{product.name}}</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-2 text-xs-left" [ngClass]="{ 'has-danger': fprod.submitted && !prodLocation.valid }">
                                                <div class="d-flex flex-column">
                                                    <label for="prod-location" class="col-form-label">Pozice</label>
                                                    <input
                                                            type="text"
                                                            class="form-control"
                                                            name="prod-location"
                                                            id="prod-location"
                                                            [ngClass]="{ 'form-control-danger': fprod.submitted && !prodLocation.valid }"
                                                            [(ngModel)]="diagnosisProduct.location"
                                                            #prodLocation="ngModel">
                                                </div>
                                            </div>

                                            <div class="form-group col-md-2 text-xs-left" [ngClass]="{ 'has-danger': fprod.submitted && !prodAmount.valid }">
                                                <div class="d-flex flex-column">
                                                    <label for="prod-amount" class="col-form-label">Počet</label>
                                                    <input
                                                            type="number"
                                                            class="form-control"
                                                            name="prod-amount"
                                                            id="prod-amount"
                                                            [ngClass]="{ 'form-control-danger': fprod.submitted && !prodAmount.valid }"
                                                            [(ngModel)]="diagnosisProduct.amount"
                                                            #prodAmount="ngModel">
                                                </div>
                                            </div>

                                            <div class="col-md-2 text-xs-left">
                                                <div class="d-flex flex-column">
                                                    <button type="submit" [ngClass]="{ 'disabled': !fprod.form.valid }" class="btn btn-primary" style="margin-top:40px">Přidat</button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>

                                    <div class="row">
                                        <div class="col-md-12 small-text">
                                            <p class="text-xs-left">
                                                <span class="text-muted">Produkty:</span>
                                                <span *ngFor="let diagnosisProduct of progressNote.diagnosisProducts; let isLast=last" class="text-primary">
                                                        {{diagnosisProduct.product.code}}{{isLast ? '' : ', '}}</span>
                                            </p>
                                        </div>
                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                                    <button type="button" class="btn btn-primary" (click)="fpn.ngSubmit.emit()" [ngClass]="{ 'disabled': !fpn.form.valid }">Uložit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</da-card>