<div class="container">

    <form name="form" class="form-signin" (ngSubmit)="f.form.valid && onLogin()" #f="ngForm" novalidate>
        <h2 class="form-signin-heading">Přihlášení</h2>

        <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !username.valid }">
            <label class="form-control-label sr-only" for="username">Jméno</label>
            <input type="text" name="username" id="username" class="form-control form-control-lg" placeholder="Jméno" [ngClass]="{ 'form-control-danger': f.submitted && !username.valid }" [(ngModel)]="model.username" #username="ngModel" required autofocus>
            <div *ngIf="f.submitted && !username.valid" class="form-control-feedback">Jméno nemůže být prázdné</div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !password.valid }">
            <label class="form-control-label sr-only" for="password">Heslo</label>
            <input type="password" name="password" id="password" class="form-control form-control-lg" placeholder="Heslo" [ngClass]="{ 'form-control-danger': f.submitted && !password.valid }" [(ngModel)]="model.password" #password="ngModel" required>
            <div *ngIf="f.submitted && !password.valid" class="form-control-feedback">Heslo nemůže být prázdné</div>
        </div>

        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Pamatovat si mě</span>
        </label>

        <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="loading">
            <i *ngIf="loading" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i> Přihlásit se
        </button>
        <div *ngIf="error && username.valid && password.valid" class="form-text text-danger">{{error}}</div>
    </form>

</div>