$fa-font-path: '../../assets/fonts/font-awesome/fonts';
@import '../../assets/fonts/font-awesome/scss/font-awesome';

.container {
    padding-top: 40px;
    padding-bottom: 40px;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading {
    margin-bottom: 10px;
}
.form-signin .form-control:focus {
    z-index: 2;
}