$fa-font-path: '../../../assets/fonts/font-awesome/fonts';
@import '../../../assets/fonts/font-awesome/scss/font-awesome';

@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';


:host {

    z-index: 1;
    flex: 0 54px;
    display: flex;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
    background: $gray-lightest;

    .controls-left,
    .input-search,
    .controls-right {
        display: flex;
        align-items: center;
    }

    .controls-left {
        flex: 0 0 256px;
        order: 0;
        justify-content: flex-start;
    }

    .input-search {
        flex: 1 1 100%;
        order: 1;
        padding: 0 24px;

        form {
            position: relative;
            z-index: 2;
            flex: 1;
            margin-bottom: 0;
        }

        /deep/ .completer-dropdown {
            width: 100%;
            border-color: $input-border-focus;
            border-bottom-right-radius: $input-border-radius;
            border-bottom-left-radius: $input-border-radius;
            border-top-color: transparent;
        }

        /deep/ .completer-row {
            width: 100%;
        }

        /deep/ .completer-row {
            width: 100%;
        }

        /deep/ .completer-selected-row {
            background-color: #4a90d9!important;
        }

        /deep/ .completer-image {
            height: 40px;
        }

        /deep/ .completer-description {
            display: block;
            font-size: small;
            font-style: italic;
        }

        /deep/ .completer-image-holder {
            width: 5%;
        }
        /deep/ .completer-item-text-image {
            width: 95%;
        }

    }

    .controls-right {
        flex: 0 0 256px;
        order: 2;
        justify-content: flex-end;
        padding-right: 5px;

        .nav {
            .img-thumbnail.avatar {
                border-radius: 50%;
            }
            .dropdown-toggle {
                &:after {
                    display: none;
                }
            }
        }
    }

    .nav-link.todays-agenda {
        color: $navbar-light-color;

        @include hover-focus {
            color: $navbar-light-hover-color;
            text-decoration: none;
        }
        .active {
            @include plain-hover-focus {
                color: $navbar-light-active-color;
                text-decoration: none;
            }
        }
    }

    .tag {
        &.tag-up {
            position: relative;
            top: -12px;
            left: -2px;
            margin: 0 -.8em;
            border-radius: 50%;
            padding: 0.4em 0.4em;
        }
    }
}

@media (min-width: 800px) {
    :host {
        .controls-left {
            padding: 0 24px;
        }
    }
}

@media (max-width: 800px) {

    :host .controls-left {
        flex: 0 0 42px;
    }

    :host .input-search {
        padding: 0 24px;
        justify-content: center;
    }

    :host .controls-right {
        flex: 0 0 122px;
    }
}