<div class="controls-left">
    <button (click)="onClickSidebarBtn()" class="btn btn-link">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
</div>
<div class="input-search">
    <form name="search">
        <ng2-completer
            [(ngModel)]="searchStr"
            [dataService]="dataService"
            [minSearchLength]="0"
            [ngModelOptions]="{standalone: true}"
            (selected)="onPatientSelected($event)"
            clearSelected="true"
            inputClass="form-control"
            placeholder="Hledat..."
            textSearching="Probíhá vyhledávání..."
            textNoResults="Pacient nebyl nalezen."
            style="width:100%">
        </ng2-completer>
    </form>
</div>
<div class="controls-right">
    <ul class="nav nav-inline">
        <li class="nav-item">
            <a [routerLink]="['/']" class="nav-link todays-agenda">
                <i class="fa fa-bell" aria-hidden="true"></i>
                <span class="tag tag-primary tag-up">0</span>
            </a>
        </li>
        <li class="nav-item dropdown align-middle">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="/assets/img/users/user1.jpg" class="img-thumbnail avatar">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item"[routerLink]="['/login']">Odhlásit</a>
            </div>
        </li>
    </ul>
</div>