

<div *ngFor="let patient of patients" class="card">
    <div class="card-header">
        <strong><a [routerLink]="['/patients', patient.id]">{{patient.firstname}} {{patient.lastname}}</a></strong>

        <div class="dropdown pull-right">
            <button class="btn btn-link btn-card dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" [routerLink]="['/patients', patient.id]">Upravit</a>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-3">
                <a [routerLink]="['/patients', patient.id]">
                    <img *ngIf="patient.photo" src="{{patient.photo}}" alt="Fotografie" style="max-width:200px" class="figure-img img-fluid rounded">
                    <span *ngIf="!patient.photo" class="img-thumbnail img-text-placeholder">{{patient.firstname.charAt(0)}}{{patient.lastname.charAt(0)}}</span></a>
            </div>
            <div class="col-md-9">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th width="30%" scope="row">Datum narození</th>
                            <td>{{patient.birthdate}}</td>
                        </tr>
                        <tr>
                            <th width="30%" scope="row">Rodné číslo</th>
                            <td>{{patient.rc}}</td>
                        </tr>
                        <tr>
                            <th width="30%" scope="row">Ulice</th>
                            <td>{{patient.street}}</td>
                        </tr>
                        <tr>
                            <th width="30%" scope="row">Město</th>
                            <td>{{patient.city}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="loading" class="mx-auto">
    <div class="col-xs" style="text-align: center">
        <i class="fa fa-circle-o-notch fa-spin fa-5x"></i>
    </div>
</div>


<a [routerLink]="['/patients/new']" class="btn btn-primary btn-shadow btn-fixed btn-circle btn-lg">
    <i class="fa fa-plus"></i></a>