$fa-font-path: '../../../assets/fonts/font-awesome/fonts';
@import '../../../assets/fonts/font-awesome/scss/font-awesome';

@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

.img-text-placeholder {
  width: 200px;
  height: auto;
  display: inline-block;
  text-align: center;
  background: #f5f5f5;
  color: #d7d7d7;
  font-size: 6vw;
  padding: 7px;
}

.btn-fixed {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
.btn-shadow {
  -webkit-box-shadow: 6px 7px 18px 0px rgba(133,133,133,1);
  -moz-box-shadow: 6px 7px 18px 0px rgba(133,133,133,1);
  box-shadow: 6px 7px 18px 0px rgba(133,133,133,1);
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 15px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-card {
  padding: 0px;
  color: $navbar-light-color;

  &:after {
    display: none;
  }

  &:hover, &:active {
    text-decoration: none;
    color: $navbar-light-hover-color;
  }
}