:host {

    display: block;

    background: #333; /* Black background color */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    margin-bottom: 10px;
    text-align: center; /* Centered text */

    -webkit-box-shadow: 6px 7px 18px 0px #858585;
    -moz-box-shadow: 6px 7px 18px 0px #858585;
    box-shadow: 6px 7px 18px 0px #858585;

    .toast-msg {
        color: #fff; /* White text color */
    }
}