$fa-font-path: '../../../assets/fonts/font-awesome/fonts';
@import '../../../assets/fonts/font-awesome/scss/font-awesome';

@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';

:host {
    flex: 0 0 256px;
    margin-left: -256px;
    order: 0;

    padding: 0 15px 15px 15px;
    overflow: auto;

    background: #f3f3f5;

    .controls {
        height: 54px;
        display: flex;
        align-items: center;
    }

    .bottom-controls {
        position: absolute;
        bottom: 0;
        height: 54px;
        line-height: 54px;
    }

    .nav {
        margin-top: 24px;
        &.nav-pills {
            .nav-link {
                color: $gray-dark;

                .fa {
                    padding-right: 20px;
                    color: $brand-primary;
                }

                @include hover-focus {
                    background-color: $gray-lightest;
                }
            }

            .nav-link.active,
            .nav-item.open .nav-link {
                @include plain-hover-focus {
                    font-weight: $dt-font-weight;
                    color:  $gray-dark;
                    cursor: default;
                    background-color: $gray-lighter;
                }
            }
        }
    }
}

@media (min-width: 800px) {
    :host {
        .controls {
            display: none;
        }

        &.open {
            margin-left: 0;
        }
    }
}

@media (max-width: 800px) {
    :host {
        position: absolute;
        z-index: 2;
        top: 0;
        left: -256px;
        width: 256px;
        height: 100%;
        display: block;
        transition: all 0.2s ease;
        overflow: auto;

        background: $gray-lightest;

        &.open {
            left: 0;
            margin-left: 0;
            box-shadow: 2px 0 8px rgba(0,0,0,0.24);
        }
    }
}