<div class="controls">
    <button (click)="onClose()" class="btn btn-link">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </button>
</div>
<ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
        <a [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-link">
            <i class="fa fa-home" aria-hidden="true"></i> Dnešní agenda</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/patients']" [routerLinkActive]="['active']" class="nav-link">
            <i class="fa fa-address-card-o" aria-hidden="true"></i> Pacienti</a>
    </li>
    <li class="nav-item">
        <a [routerLink]="['/calendar']" [routerLinkActive]="['active']" class="nav-link">
            <i class="fa fa-calendar-o" aria-hidden="true"></i> Kalendář</a>
    </li>
</ul>
<div class="bottom-controls">
    <button class="btn btn-link" data-toggle="modal" data-target="#noConnectedModal">
        <i class="fa fa-cloud-upload" aria-hidden="true"></i> Data pro pojišťovny
    </button>
    <div class="modal fade" id="noConnectedModal" #calendarEventModal tabindex="-1" role="dialog" aria-labelledby="noConnectedModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="noConnectedModallLabel">Data pro pojišťovny</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-sm table-striped">
                        <thead>
                        <tr>
                            <th>Vytvořeno</th>
                            <th>Pojišťovna</th>
                            <th>Stav</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2017-02-21</td>
                            <td>VZP</td>
                            <td>K odeslání</td>
                        </tr>
                        <tr>
                            <td>2017-02-20</td>
                            <td>VZP</td>
                            <td>K odeslání</td>
                        </tr>
                        <tr>
                            <td>2017-02-15</td>
                            <td>VZP</td>
                            <td>K odeslání</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>