<da-card [loading]="loading" [rootRoute]="rootRoute" [hideTabs]="true">

    <div class="container">
        <div class="row">
            <div class="col-md">

                <form name="form" (ngSubmit)="f.form.valid && onSave()" #f="ngForm" novalidate>

                    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !firstname.valid }">
                        <label for="firstname" class="col-sm-4 col-form-label required">Jméno</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control required" name="firstname" id="firstname" placeholder="Jméno" [ngClass]="{ 'form-control-danger': f.submitted && !firstname.valid }" [(ngModel)]="patient.firstname" #firstname="ngModel" required autofocus>
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !lastname.valid }">
                        <label for="lastname" class="col-sm-4 col-form-label required">Příjmení</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Příjmení" [ngClass]="{ 'form-control-danger': f.submitted && !lastname.valid }" [(ngModel)]="patient.lastname" #lastname="ngModel" required>
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !birthdate.valid }">
                        <label for="birthdate" class="col-sm-4 col-form-label required">Datum narození</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" name="birthdate" id="birthdate" [ngClass]="{ 'form-control-danger': f.submitted && !birthdate.valid }" [(ngModel)]="patient.birthdate" #birthdate="ngModel" required>
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !rc.valid }">
                        <label for="rc" class="col-sm-4 col-form-label">Rodné číslo</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" name="rc" id="rc" placeholder="Rodné číslo" [ngClass]="{ 'form-control-danger': f.submitted && !rc.valid }" [(ngModel)]="patient.rc" #rc="ngModel">
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !sex.valid }">
                        <label for="sex" class="col-sm-4 col-form-label">Pohlaví</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="sex" id="sex" [ngClass]="{ 'form-control-danger': f.submitted && !sex.valid }" [(ngModel)]="patient.sex" #sex="ngModel">
                                <option value="1">Muž</option>
                                <option value="2">Žena</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !phoneNumber.valid }">
                        <label for="phoneNumber" class="col-sm-4 col-form-label">Telefon</label>
                        <div class="col-sm-8">
                            <input type="tel" class="form-control" name="phoneNuber" id="phoneNumber" placeholder="Telefon" [ngClass]="{ 'form-control-danger': f.submitted && !phoneNumber.valid }" [(ngModel)]="patient.phoneNumber" #phoneNumber="ngModel">
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !email.valid }">
                        <label for="email" class="col-sm-4 col-form-label">E-mail</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" [ngClass]="{ 'form-control-danger': f.submitted && !email.valid }" [(ngModel)]="patient.email" #email="ngModel">
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !insuranceType.valid }">
                        <label for="insuranceType" class="col-sm-4 col-form-label required">Typ pojištění</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="insuranceType" id="insuranceType" [ngClass]="{ 'form-control-danger': f.submitted && !insuranceType.valid }" [(ngModel)]="patient.insuranceType"  #insuranceType="ngModel" required>
                                <option *ngFor="let insuranceType of insuranceTypes" [ngValue]="insuranceType" >{{insuranceType.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !insuranceCompany.valid }">
                        <label for="insuranceCompany" class="col-sm-4 col-form-label required">Pojišťovna</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="insuranceCompany" id="insuranceCompany" [ngClass]="{ 'form-control-danger': f.submitted && !insuranceCompany.valid }" [(ngModel)]="patient.insuranceCompany" #insuranceCompany="ngModel" required>
                                <option *ngFor="let insuranceCompany of insuranceCompanies" [ngValue]="insuranceCompany" >{{insuranceCompany.code}} - {{insuranceCompany.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !insurenceNumber.valid }">
                        <label for="insurenceNumber" class="col-sm-4 col-form-label required">Číslo pojištěnce</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="insurenceNumber" id="insurenceNumber" placeholder="Číslo pojištěnce" [ngClass]="{ 'form-control-danger': f.submitted && !insurenceNumber.valid }" [(ngModel)]="patient.insurenceNumber" #insurenceNumber="ngModel" required>
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !street.valid }">
                        <label for="street" class="col-sm-4 col-form-label">Ulice</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="street" id="street" placeholder="Ulice" [ngClass]="{ 'form-control-danger': f.submitted && !street.valid }" [(ngModel)]="patient.street" #street="ngModel">
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !city.valid }">
                        <label for="city" class="col-sm-4 col-form-label">Město</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="city" id="city" placeholder="Město" [ngClass]="{ 'form-control-danger': f.submitted && !city.valid }" [(ngModel)]="patient.city" #city="ngModel">
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !zip.valid }">
                        <label for="city" class="col-sm-4 col-form-label">PSČ</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="zip" id="zip" placeholder="PSČ" [ngClass]="{ 'form-control-danger': f.submitted && !zip.valid }" [(ngModel)]="patient.zip" #zip="ngModel">
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !medicalHistory.valid }">
                        <label for="medicalHistory" class="col-sm-4 col-form-label">Anamnéza</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="medicalHistory" id="medicalHistory" row="3" [ngClass]="{ 'form-control-danger': f.submitted && !medicalHistory.valid }" [(ngModel)]="patient.medicalHistory" #medicalHistory="ngModel"></textarea>
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !allergy.valid }">
                        <label for="allergy" class="col-sm-4 col-form-label">Alerigie</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="allergy" id="allergy" row="3" [ngClass]="{ 'form-control-danger': f.submitted && !allergy.valid }" [(ngModel)]="patient.allergy" #allergy="ngModel"></textarea>
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{ 'has-danger': f.submitted && !drugs.valid }">
                        <label for="drugs" class="col-sm-4 col-form-label">Léky</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="drugs" id="drugs" row="3" [ngClass]="{ 'form-control-danger': f.submitted && !drugs.valid }" [(ngModel)]="patient.drugs" #drugs="ngModel"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 offset-sm-4 text-sm-left">
                            <button type="submit" class="btn btn-primary" [ngClass]="{ 'disabled': !f.form.valid }">Uložit</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-4 text-xs-center">

                <div class="row">
                    <div class="col-md-12">

                        <figure class="figure">
                            <img *ngIf="patient.photo" src="{{patient.photo}}" alt="Fotografie" class="figure-img img-fluid rounded">
                            <img *ngIf="!patient.photo" src="/assets/img/no-photo.png" alt="Fotografie" class="figure-img img-fluid rounded">
                            <figcaption class="figure-caption">Chcete <button type="button" class="btn btn-link" style="padding:0" data-toggle="modal" data-target="#uploadPhotoModal">změnit</button> fotografii?</figcaption>
                        </figure>

                        <div class="modal fade" id="uploadPhotoModal" tabindex="-1" role="dialog" aria-labelledby="uploadPhotoModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form name="form-upload-photo" novalidate>
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title" id="uploadPhotoModalLabel">Nahrát fotografií</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group row">
                                                <label class="col-sm-4 col-form-label" for="photo">Ze souboru</label>
                                                <div class="col-sm-8">
                                                    <input type="file" class="form-control-file disabled" id="photo" disabled>
                                                </div>
                                                <small class="col-sm-12 form-text text-xs-center text-muted">Pro tento typ účtu není možné změnit fotografii.</small>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
                                            <button type="submit" class="btn btn-primary disabled">Uložit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</da-card>