@import '../../../../../node_modules/bootstrap/scss/variables';
@import '../../../../../node_modules/bootstrap/scss/mixins';

label.required::after {
  margin-left: 3px;
  content: '*';
  color: $brand-danger;
  font-weight: bold;
}

.create-event {
  padding-top: 15px;
}