<div class="wrapper">
    <da-header (clickShowSidebar)="sidebar.hover=!sidebar.hover;"></da-header>
    <div class="container-main">
        <da-sidebar #sidebar [ngClass]="{ 'open': sidebar.hover }"></da-sidebar>
        <div class="container-content" [ngClass]="{ 'container-content-right-span': sidebar.hover }"
             infinite-scroll
             [infiniteScrollDistance]="2"
             [infiniteScrollThrottle]="500"
             (scrolled)="onScrollDown()"
             (scrolledUp)="onScrollUp()"
             [scrollWindow]="false">

            <router-outlet></router-outlet>
        </div>
    </div>

    <da-toaster></da-toaster>
</div>