$fa-font-path: '../../assets/fonts/font-awesome/fonts';
@import '../../assets/fonts/font-awesome/scss/font-awesome';

@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';


* {
  box-sizing: border-box;
}

html, body, .wrapper {
  margin:0;
  height:100%;
  min-height:100%;
}

body {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container-main {
  flex: 1;
  display: flex;
}

.container-content {
  background: #f3f3f5;
  flex: 1 1 100px;
  order: 1;

  overflow: auto;
  padding: 24px;

  .card {
    box-shadow: 0 2px 4px rgba(0,0,0,0.24);
  }

  .card-no-border {
    box-shadow: none;
    border: none;
  }

  .card-no-background {
    background: none;
  }
}

@media (max-width: 800px) {
  .main-container {
    padding: 16px;
  }
}
@media (min-width: 1279px) {
  .container-content-right-span {
    padding-right: 256px;
  }
}